form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    margin-top: 40px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

form input {
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}

form button {
    text-transform: uppercase;
    background: #4CAF50;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    color: #FFFFFF;
    transition: all 0.3 ease;
    cursor: pointer;
}

form button:hover {
  transition-duration: 500ms;
  background: #27802a;
}

form a {
  text-decoration: none;
  color: #427BFF;
}

form a:hover {
  filter: brightness(70%);
  text-decoration: underline;
}